// Site-wide settings

// Colours
$colour:        #3762d2;
$green:         #24c597;
$text:          #fff;
$background:    #293038;
$lightbg:       #313944;
$lightgrey:     saturate(lighten($background, 50%), 7%);

// Fonts
$font:          'Helvetica Neue', 'Open Sans', helvetica, arial, sans-serif;

// Form inputs