// Common layout

body {
  background: $background;
  color: $text;
  font-size: 16px;
  line-height: 1.7em;
  font-family: $font, sans-serif;
  font-weight: lighter;
  padding: 0 8%;
  text-align: center;
  letter-spacing: 0.03em;
  }