<header>
  <svg width="22" height="22"><use href="/img/icons.svg#logo" xlink:href="/img/icons.svg#logo"></use></svg>
  <h1 class="strapline">recognote</h1>
</header>

<nav aria-label="Nagivation">
  <ul>
    <li>
      <a href="/index/" title="Back to homepage" aria-label="Link to main menu">
        <svg width="22" height="22"><use href="/img/icons.svg#menu" xlink:href="/img/icons.svg#menu"></use></svg>
        Main menu
      </a>
    </li>
    <li>
      <a href="/quiz/" title="Reset your score" aria-label="Link to reset score">
        <svg width="22" height="22"><use href="/img/icons.svg#reset" xlink:href="/img/icons.svg#reset"></use></svg>
        New quiz
      </a>
    </li>
    <li>
      <a href="/share/" title="Share your score" aria-label="Link to share score">
        <svg width="22" height="22"><use href="/img/icons.svg#share" xlink:href="/img/icons.svg#share"></use></svg>
        Share
      </a>
    </li>
  </ul>
</nav>